window {
    background-color: rgba(40, 42, 54, 0.7);
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

#outer-box {
    margin: 2px;
    border-radius: 5px;
}

#inner-box {
    background-color: #44475a;
    border-radius: 12px;
    border-style: none;
    border-width: 1px;
    border-color: #6272a4;
    padding: 8px;
    margin: 8px;
}

button, image {
    background: none;
    border: none;
    box-shadow: none;
}

button {
    padding: 12px 20px;
    margin: 8px;
    font-size: 18px;
    color: #f8f8f2;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6272a4;
}

image {
    width: 24px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(70%) saturate(469%) hue-rotate(127deg) brightness(96%) contrast(93%);
    transition: transform 0.3s ease;
}

button:hover image {
    transform: scale(1.5);
}

