@import url("./colors.css");

window#waybar {
    background: rgba(40, 42, 54, 0.6);  /* Fundo semi-transparente com 80% de opacidade */
    color: @purple;
    border-radius: 10px;  /* Borda arredondada para um visual mais moderno */
}

* {
    font-family: 'JetBrainsMono NFM';
}
