* {
    font-family: "JetBrainsMono NFM";
}

window {
    margin: 0px;
    border: 1px solid #bd93f9;
    background-color: rgba(40, 42, 54, 0.75);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: rgba(68, 71, 90, 0.7);
    border-radius: 5px;
    padding: 5px;
}

#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(40, 42, 54, 0.75);
    border-radius: 5px;
    backdrop-filter: blur(6px);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    font-size: 18px;
}

#entry.activatable #text {
    color: #f8f8f2;
}

#entry > * {
    color: #f8f8f2;
    font-size: 18px;
}

#entry:selected {
    background-color: rgba(68, 71, 90, 0.7);
    border-radius: 10px;
}

#entry:selected #text {
    font-weight: bold;
}

#entry .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#entry {
    display: flex;
    align-items: center;
    padding: 5px 1opx;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#entry:hover {
    background-color: rgba(68, 71, 90, 0.6);
    transform: scale(1.05);
}
